<html>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 {% include 'AD/navigation.html' %}
 <h2 class="alert alert-primary">{{ infor }}</h2>
<form method="POST">
	{% csrf_token %} 
	 <div class="col-xs-6">
	 	     <label for="name">Logon Name:</label>
         <input type="text" class="form-control" id="name" name="name" maxlength="26">
         <label for="fullname">Full Name:</label>
         <input type="text" class="form-control" id="fullname" name="fullname" maxlength="26">
         <label for="password">Password:</label>
         <input type="password" class="form-control" id="password" name="password" maxlength="26">
         <label for="ou">OU:</label>
         <select multiple class="form-control" id="exampleFormControlSelect2" name="ou" id"ou" size="9">
            {% for a_ou in OUs %}
            <option value="{{a_ou.dn_string}}">{{a_ou.name}}</option>
            {% endfor %}
            }
           
         </select><br>
         <button type="submit"  class="btn btn-success">Create</button>
	 </div>
</form>
 </html>